.subtototalDiv
{
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid #ebebeb;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 10px 20px 15px #dbd9d9;
}


.subtototalDiv button{
    align-self: center;
    border-radius: 5px;
    background-color: #f7c50f;
    outline:none;
    cursor: pointer;
    border:2px solid rgb(0, 0, 46);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.subtototalDiv button:active{
    transform: rotateY(180deg);
}
.subtototalDiv h2{
    padding: inherit;
}
.checkoutHeading{
    display: flex;
    justify-content: space-around;
    margin-left: 50vw;
    margin-top: 5vh;
    padding: 4px;
}