*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
   
}
#amazonImg{
    height: 5vh;
    width: 8vw;
    
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid;
    min-height: auto;
    background-color:#131921;
    padding: 5px;
    color: white;
   z-index:2;
    position: sticky;
    top: 0;
}
.cart{
    color:#fabf0f;
    font-size: 2rem !important;
  
   
}
input{
    width: 50vw;
    height:4vh;
    border-radius: 5px;
}